/*----- variables ----- */

// <color variables>
$mainColor: #89afef;
$secondColor: #000;
$textColor: #333;
$linkColor: #333;
// </color variables>

// <font variables>
$fontSize: 16px;
$fontFamily: "Gilroy Regular", sans-serif;
// </font variables>
